
body {
    margin: 0;
    padding: 10px 40px;
    background: #fff;
    font-size: 1.2em;
    font-family: helvetica, arial, serif;
}

h1 {
    color: #345;
    text-shadow: 1px 1px 2px #aaa;
    font-size: 1.8em
}

h2 {
    color: #678;
    text-shadow: 1px 1px 2px #aaa;
    font-size: 1.1em;
    padding-bottom: 2em;
}

.container {
    display: -webkit-flex;
    display: flex;
    height: 800px;
}

.list {
    width: 20%;
    outline: 1px solid #333;
}

.detail {
    width: 80%;
    outline: 1px solid #333;
}

.list ul {
    padding-left: 10px;
    list-style: none;
}

.list ul li {
    padding-left: 2em;
    padding-bottom: 1em;
    text-indent: -2em;
}

.list ul li a {
    text-decoration: none;
    color: #678;
}

li:hover {
    color: red;
    background: rgba(255, 255, 255, .2);
}